body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  height: 150px;
  width: 150px;
  background-color: orangered;
  border-radius: 50%;
}
.square {
  height: 150px;
  width: 150px;
  background-color: forestgreen;
}

.rectangle {
  height:50px;
  width: 150px;
  background-color: teal;
}